{% extends 'base.html' %}

{% block content %}

<h1>User page</h1>

<h5>{{ user.first_name }} {{ user.last_name }} - {{ user.email }} - {{ user.role }}</h5>

<h2>BOOKINGS</h2>
<hr>
{% for booking in bookings %}
    <p>{{ booking.room.number }} - {{ booking.booking_date }} - {{ booking.total_price }}</p>
    <hr>
    <form method="POST" action="{% url 'add-service-to-booking' booking.id %}">
        {% csrf_token %}
      <label for="sel1">Service:</label>
      <select id="sel1" name = "service-booking" required>
          {% for service in services %}
          <option value = "{{ service.id }}">{{ service.name }} - {{ service.charge }}</option>
          {% endfor %}
      </select>
        <label for="sel2">Employe:</label>
      <select id="sel2" name = "employe-booking" required>
          {% for employe in employes %}
          <option value = "{{ employe.id }}">{{ employe.first_name }} {{ employe.last_name }} - {{ empoye.position }}</option>
          {% endfor %}
      </select>
        <button type="submit">Add service to booking</button>
    </form>
    <hr>
    <hr>
    <a href = "{% url 'booking-services' booking.id %}">Services</a>
{% endfor %}
<h2>PAYMENTS</h2>
<hr>
{% for payment in payments %}
    <p>{{ payment.booking.room.number }} - {{ payment.payment_date }} - {{ payment.payment_method }} - {{ payment.full_price }}</p>
    <hr>
    <form method="POST" action="{% url 'pay-payment' payment.id %}">
        {% csrf_token %}
        <button type="submit">Оплатити</button>
    </form>
{% endfor %}

{% endblock %}